.chat-column {
	text-align: center;
}
.chat-card {
	height: 90vh;
	width: 95%;
	text-align: left;
}

.talks-actions {
  margin-top: 10px;
  height: 87%;
  position: relative;

  .add-button {
    padding-top: 10%;
  }

  .add-talk-group {
    position: absolute;
    width:99%;
    top: 91%;
    bottom: 0;
    left: 0;

    input {
    	background-color: #d9d7d7;
    }

    .c-btn {
    	margin-right: 15px;
		padding: 2px 5px;
		font-weight: 400;
		line-height: 1;
		border-radius: 3px;
    }
  }
}

.talks_list {
  margin-top: 15px;
  overflow: auto;
  height: 90%;
  width: 99%;
  list-style: none;
  margin-left: 0;

  li {
    padding: 5px;
    cursor: pointer;

    h4 {
      padding: 6px 0 6px 0;
    }
  }

  .talk_name:hover {
    color: #007ee5;
  }

  .talk-icon {
    margin-right: 20px;
  }
}

.messages-block {
  width: 100%;
  height: 93%;
  position: relative;

  .messages-list {
    list-style: none;
    position: absolute;
    overflow:auto;
    height: 90%;
    width: 100%;
    padding: 5px;
    margin-left: 0;

    li {
      padding: 20px 0 20px 0;
      height: auto !important;
    }

    .item-content {
      height: auto !important;
    }

    .message-user {
      padding-left: 10px;
      font-size: 13px;
      letter-spacing: 2px;
    }

    .message_date {
      padding-left: 30px;
      padding-bottom: 3px;
      font-style: italic;
      font-size: 12px;
    }

    .talk-bubble {
      height: auto !important;
      background-color: #ededed;
      border-radius:5px;
      padding: 20px;

      p{
        /* remove webkit p margins */
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        line-height: 20px;
        margin: 0 0 3px;
        padding:0 0 0 10px;
        font-size: 15px;
      }
    }

    .inform {
      background-color: #b33630;
      border-radius:5px;
      padding: 7px 7px 7px 20px;

      .info_message {
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 2px;
      }

      span {
        color: white;
      }
    }
  }
}

.active_talk {
  background-color: rgb(96,125,139);
  color:white !important;

  i {
    color:white !important;
  }
}

#msg_input_wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#submit-wrapper {
  width:10%;
  float: right;
}

#textarea-wrapper {
  width: 90%;
  float: left;

  textarea {
  	background-color: #d9d7d7;
  }
}

#input-btn {
  width:100%;
}

.users-block {
  width: 100%;
  height: 93%;
  position: relative;

  .users-list {
    list-style: none;
    position: absolute;
    overflow:auto;
    height: 95%;
    width: 100%;
    padding: 5px;
    margin-left: 0;

    li {
      padding: 5px 0 5px 0;
      height: auto !important;
    }
  }
}