.form-card {
	min-width: 90%;
}

.github {
	background-color: #333333;
	color: white;
}

.github:hover {
	background-color: #666666;
}

.c-btn:not(button):not([type="submit"]) {
    outline: 2px solid white !important;
}