.shlack-nav {
	white-space: nowrap;
    overflow: auto;
    margin-bottom: 0.3rem;
    background-color: #F0F3F5;

    .ul-wrap {
    	padding: 0 1.5rem;
        max-width: 65rem;
        margin: 0 auto;
    }
}

.nav-ul {
	list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;

    li {
    	margin-right: 1.5rem;
    	margin-top: 0.75rem;
    	margin-bottom: 0.75rem;
    	display: inline-block;

    	a {
    		padding: 0.75rem 0;
            border-bottom: 2px solid transparent;
            color: inherit;
            text-decoration: none;
    	}

    	a:hover {
          border-color: black;
        }

    	.active {
    		color: #638dd4;
            border-bottom-color: #638dd4;
    	}
    }
}